 /* DT207G - Backend-baserad webbutveckling
 * Project
 * Linn Eriksson, VT24
 */
 
 //General layout of tables
 table {

    width: 100%;

    tr:nth-child(even) {
        background-color: $dark-primary-color;
    }
    
    th {
        border-bottom: 2px $theme-secondary-color solid;
        text-align: left;
    }

    td, th {
        padding-right: 10px;
    }

    .button {
        font-size: 1em;
        padding: 10px;
    }
}