/* DT207G - Backend-baserad webbutveckling
 * Project
 * Linn Eriksson, VT24
 */

//General layout for buttons.

.button {
    background-color: $button-background-color;
    color: $button-text-color;
    border: $button-border;
    border-radius: $button-border-radius;
    padding: 10px 15px;
    margin: 1%;
}