/* DT207G - Backend-baserad webbutveckling
 * Project
 * Linn Eriksson, VT24
 */

//Hides skiplink on mobile.

.skiplink {
   display: none;
}

//Media query for when skiplink is in use.
@media only screen and (min-width: $screen-min-width){
    .skiplink {
        display: inline;
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $theme-secondary-color;
        border: 0;
    }

    .skiplink:focus {
        width: auto;
        height: auto;
        font-size: $normal-font-size;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        border: $button-border;
        z-index: 99;
    }
}