<%- include('./partials/header')  %>
            <h2>Om oss</h2>
            <p>Vi är ett familjeägt företag som slog upp portarna redan 1956 och som nu drivs av tredje generationen
                från familjen Andersson.</p>
            <p>Företaget grundades av Karin och Erik, tanken har alltid varit att servera god och nyttig husmanskost
                till bra pris och det är den grundidé vi alltid har arbetat efter. Nu för tiden finns vi även på
                internet och erbjuder till exempel förhandsbokning av take away-mat, men det är fortfarande samma goda
                recept från Karins receptsamling som ligger till grund för våra menyer!</p>
            <p>Välkommen att stanna till hos oss om du har vägarna förbi!</p>
<%- include('./partials/footer')  %>