<%- include('./partials/header')  %>
            <h2>Välkommen!</h2>
            <p>Vi driver en vägkrog vid trafikplats Mora Stenar, du hittar oss på avfart 185 på E4an och det går att
                komma till oss i både nordgående och sydgående riktning.
            </p>
<%- include('./partials/footer')  %>