<%- include('./partials/header')  %>
            <h2>Inloggning</h2>
            <p>För att logga in behöver du ett konto, om du inte har ett kan du skapa det under rubriken <a href="#create">skapa konto</a> nedan.</p>
            <h3 id="login">Logga in</h3>
            <p>Logga in genom att skriva ditt namn och lösenord i nedanstående formulär.</p>
            <form action="/admin" method="post">
                <fieldset>
                    <legend>Logga in:</legend>
                    <label for="username">Användarnamn:</label>
                    <input type="text" id="username" name="username" maxlength="32" required>
                    <br>
                    <label for="password">Lösenord:</label>
                    <input type="password" id="password" name="password" maxlength="128" required>
                    <br>
                    <br>
                    <input type="reset" value="Rensa" class="button">
                    <input type="submit" value="Logga in" id="login" class="button">
                </fieldset>
            </form>

            <h3 id="create">Skapa konto</h3>
            <p>För att skapa ett konto kan formuläret nedan användas. ett användarnamn måste vara 4-32 tecken och ett lösenord måste vara 16-128 tecken.</p>
            <form action="/admin" method="post">
                <fieldset>
                    <legend>Skapa konto:</legend>
                    <label for="username">Användarnamn:</label>
                    <input type="text" id="username" name="username" maxlength="32" required>
                    <br>
                    <label for="password">Lösenord:</label>
                    <input type="password" id="password" name="password" maxlength="128" required>
                    <br>
                    <br>
                    <input type="reset" value="Rensa" class="button">
                    <input type="submit" value="Skapa konto" id="createaccount" class="button">
                    <br>
                    <span id="registermessage"></span>
                </fieldset>
            </form>
<%- include('./partials/footer')  %>