<%- include('./partials/header')  %>
            <h2>Vår meny</h2>
            <div id="menuButtons"></div>
            <div id="weeklyMenu"></div>
            <div id="menuItems"></div>
<%- include('./partials/footer')  %>