<%- include('./partials/header')  %>
            <h2>Vår meny</h2>
            <div id="menuButtons">
                <noscript>
                    <p>Den här webbplatsen använder javascript, att du ser den här texten innebär att din webbläsare inte stödjer javascript. Du kommer tyvärr inte att kunna se menyn.</p>
                </noscript>
            </div>
            <div id="weeklyMenu"></div>
            <div id="menuItems"></div>
<%- include('./partials/footer')  %>