        </main>
        <footer>
            <p>Besök oss gärna vid trafikplats Mora Stenar, avfart 185 på E4an.</p>
            <p class="right">
                <a href="#" class="fa fa-facebook-square fa-lg"></a> 
                <a href="#" class="fa fa-instagram fa-lg"></a> 
                <a href="#" class="fa fa-snapchat-square fa-lg"></a> 
                <a href="#" class="fa fa-tripadvisor fa-lg"></a> 
                <a href="#" class="fa fa-whatsapp fa-lg"></a> 
            </p>
        </footer>
    </div>
    <% if(script == true) {%> <script type="text/javascript" src="js/<%= scriptfile %>"></script> <% } %>
</body>

</html>