/* DT207G - Backend-baserad webbutveckling
 * Project
 * Linn Eriksson, VT24
 */

//Standard for body text.
@mixin standardText {    
    font-size: $normal-font-size;
    font-family: $serif-font;
    color: $dark-secondary-color;
}

//Standard for headers.
@mixin headerText {
    font-weight: bold;
    font-family: $sans-serif-font;
    color: $dark-secondary-color;
}